# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
pymysql
# or
psycopg2-binary
# or
boto3

azure-functions